<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc
       https://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context https://www.springframework.org/schema/context/spring-context.xsd">
    <context:component-scan base-package="com.qf.ran"/>

    <mvc:annotation-driven/>

    <!--消息转换器 jackson-->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <ref bean="stringHttpMessageConverter"/>
            <ref bean="mappingJackson2HttpMessageConverter"/>
        </mvc:message-converters>
    </mvc:annotation-driven>

    <bean id="stringHttpMessageConverter"
          class="org.springframework.http.converter.StringHttpMessageConverter"/>

    <!--解决IE浏览器json文件下载和json数据中文乱码的问题-->
    <bean id="mappingJackson2HttpMessageConverter"
          class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
        <property name="supportedMediaTypes">
            <list>
                <value>text/html;charset=UTF-8</value>
                <value>application/json;charset=UTF-8</value>
            </list>
        </property>
    </bean>

    <!--处理 swagger 请求-->
    <mvc:resources mapping="swagger-ui.html" location="classpath:/META-INF/resources"/>
    <mvc:resources mapping="/webjars/**" location="classpath:/META-INF/resources/webjars"/>

    <!--配置拦截器栈-->
    <mvc:interceptors>
        <!--配置拦截器-->
        <mvc:interceptor>
            <!--
                需要拦截的请求

                /*  只能拦截    /SpringMVC-interceptor(4)/user

                /** 可以拦截    /SpringMVC-interceptor(4)/user/...
            -->
            <mvc:mapping path="/**"/>
            <!--
                配置不需要拦截的接口请求
            -->
            <mvc:exclude-mapping path="/user/login"/>
            <mvc:exclude-mapping path="/user/register"/>

            <!--排除 swagger 资源请求-->
            <mvc:exclude-mapping path="/swagger-ui.html"/>
            <mvc:exclude-mapping path="/webjars/**"/>
            <mvc:exclude-mapping path="/swagger-resources/**"/>
            <mvc:exclude-mapping path="/v2/api-docs/**"/>

            <!--指定的拦截器-->
            <bean class="com.qf.ran.interceptor.LoginInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>
</beans>